<?xml version="1.0" encoding="UTF-8"?>
<settings xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.1.0 http://maven.apache.org/xsd/settings-1.1.0.xsd" xmlns="http://maven.apache.org/SETTINGS/1.1.0"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
<!-- 
  <mirrors>
    <mirror>
      <mirrorOf>*</mirrorOf>
      <name>wonder</name>
      <url>http://artifactory:8081/artifactory/wonder</url>
      <id>wonder</id>
    </mirror>
  </mirrors>


  <profiles>
    <profile>
      <repositories>
        <repository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>wonder</name>
          <url>http://artifactory:8081/artifactory/wonder</url>
        </repository>
        <repository>
          <snapshots>
		<updatePolicy>never</updatePolicy>
          </snapshots>
          <id>snapshots</id>
          <name>wonder</name>
          <url>http://artifactory:8081/artifactory/wonder</url>
        </repository>
      </repositories>
      <pluginRepositories>
        <pluginRepository>
          <snapshots>
            <enabled>false</enabled>
          </snapshots>
          <id>central</id>
          <name>wonder</name>
          <url>http://artifactory:8081/artifactory/wonder</url>
        </pluginRepository>
        <pluginRepository>
          <snapshots />
          <id>snapshots</id>
          <name>wonder</name>
          <url>http://artifactory:8081/artifactory/wonder</url>
        </pluginRepository>
      </pluginRepositories>
      <id>artifactory</id>
    </profile>
  </profiles>
  <activeProfiles>
    <activeProfile>artifactory</activeProfile>
  </activeProfiles>
-->

</settings>
