[Unit]
Description=HiveServer2
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target nodemanager.service resourcemanager.service
Requires=network-online.target

[Service]
#User=vagrant
#Group=hadoop
#Type=forking
ExecStart=/hive-bin/bin/hiveserver2
#ExecStop=/home/hadoop/envs/dwh/hadoop/sbin/stop-dfs.sh
WorkingDirectory=/hive-bin

Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=HIVE_HOME=/hive-bin
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CLASSPATH=/usr/local/tez/conf:/usr/local/tez/lib
TimeoutStartSec=2min
#Restart=on-failure

[Install]
WantedBy=multi-user.target
