[Unit]
Description=Hadoop ResourceManager
After=syslog.target network.target remote-fs.target nss-lookup.target network-online.target
Requires=network-online.target

[Service]
#User=hadoop
#Group=hadoop
#Type=forking
ExecStart=/usr/local/hadoop/bin/yarn resourcemanager
#ExecStop=/home/hadoop/envs/dwh/hadoop/sbin/stop-dfs.sh
WorkingDirectory=/usr/local/hadoop

Environment=JAVA_HOME=/usr/lib/jvm/java-8-openjdk-amd64
Environment=HADOOP_HOME=/usr/local/hadoop
Environment=HADOOP_CLASSPATH=/usr/local/tez/conf:/usr/local/tez/lib

TimeoutStartSec=2min
#Restart=on-failure

[Install]
WantedBy=multi-user.target
